div.right{
    text-align: right;
    padding-right: 300px;
    color: green;
    font-size: 125% ;
    font-weight: 570;
    background: radial-gradient(violet,yellow) no-repeat ;
    background-position-x: 75%;
    background-position-y: 75%;
    background-size: 40%;

}

div.left{
    text-align: left;
    padding-left: 300px;
    color: rgb(205, 5, 255);
    font-size: 125% ;
    font-weight: 570;
    background: radial-gradient(rgb(130, 213, 238),rgb(194, 140, 140)) no-repeat ;
    background-position-x: 25%;
    background-position-y: 75%;
    background-size: 40%;

}
div.time-right{
    text-align: end;
    padding-right: 230px;
    font: italic 15px monospace;
}
div.time-left{
    text-align: start;
    padding-left: 200px;
    font: italic 15px monospace;
}

div.date{
    text-align: center;
    position: static;
    background: #cc0000;
    color: #ffffff;
}

FaRegGrinStars{
    text-align: center;
}
 
